$bgColor: #101317;
$fgColor: #62f34b;
$boxBg: #fff;
$darkBlue: #2A81AE;

$borderColor: #CACACA;

// $boxWidth: 250px;
// $boxHeight: 100px;

$boxWidth: 100%;
$boxHeight: 100px;

body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: $bgColor;
  color: $fgColor;
  font-weight: lighter;

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }
}

.hidden {
  display: none !important;
}

.navbar {
  color: black;
  padding: 10px 20px;
  border-bottom: 2px solid $borderColor;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);

  a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  .active {
    font-weight: bold;
    text-transform: uppercase;
  }

  .active:hover {
    color: black;
  }
}

[ch-scope=appScope] {
  overflow: auto;

  #app-scope-container {
    height: 100%;
  }

  #nav-container, #editor-container {
    height: 100%;
  }

  #overlay {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

[ch-scope=overlayScope] {
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 5% 20%;
  width: 60%;
  background: #fff;
  color: black;

  #close-overlay-btn {
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 5px;
    color: red;
  }

  .button {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    background: #c50023;
    color: #fff;
  }

  #img-div {
    position: absolute;
    top: 100px;
    left: 50%;

    img {
      position: relative;
      left: -50%;
      padding: 20px;
      border-radius: 10px;
      background: #fff;
    }
  }

}

[ch-scope=navScope] {
  // border: 15px solid black;
  color: black;
  height: 100%;
  position: relative;

  #nav-list {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    overflow: auto;
    height: 100%;

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 90px;

      a {
        display: block;
        padding: 10px;
        background: #eaeaea;
        border-bottom: 1px solid $borderColor;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a.active {
        background: $bgColor;
        color: $fgColor;
      }

      a.active a {
        color: $fgColor;
      }
    }

  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background: #eaeaea;
    text-align: center;
    color: grey;
  }

}

[ch-scope=editorScope] {
  // position: relative;
  // top: 0px;
  // bottom: 0px;
  width: 100%;
  height: 100%;

  #usage {
    color: #000;
    cursor: default;
    margin-right: 10px;
  }

  #select {
    width: 100%;
    margin-bottom: 5px;
  }

  #small-remove-btn {
    margin-left: 20px;
    width: 3%;
    color: #d2042e;
    float: right;
    cursor: pointer;
  }

  #remove-btn {
    color: #d2042e;
    float: right;
    cursor: pointer;
  }

  #editor-div {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    // height: 100%;

    // height: 100%;

    * {
      font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;;
    }
  }

  // .navbar {
  //   position: absolute;
  //   bottom: 0px;
  //   width: 100%;
  //   border-top: 2px solid $borderColor;
  // }
  #editer-preview-div {
    height: 100%;
  }
}

[ch-scope=previewScope] {
  height: 100%;

  #preview-div {
    overflow: scroll;
    height: 100%;
    padding: 30px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;

    a {
      color: red;
    }

    td, th {
      border: 1px solid $fgColor;
      padding: 5px 10px;
    }

    th {
      background: $darkBlue;
      // border: 1px solid #000;
    }

    blockquote {
      border-left: 4px solid $fgColor;
      padding-left: 20px;
    }

    pre {
      border-left: 6px solid $darkBlue;
      padding: 20px;
      color: #000;
      background: url(/img/blueprint.png) top center #eaeaea;
    }
  }
}
